body {
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
  overflow: hidden;
  text-align: center;
  background-color: #312931;
}

button {
  display: block;
  border-radius: 50%;
  border: 1px solid #474747;
  background-color: #636463;
  color: #deefef;
  box-shadow: 2px 1px 2px rgba(100, 100, 100, 0.35);
  cursor: pointer;
  flex-shrink: 0;
  flex-grow: 0;
  width: 24px;
  height: 24px;
}

button:first-of-type {
  margin: 0 2px 0 0;
}

button:nth-of-type(2) {
  margin: 0 0 0 2px;
}

button:active {
  transform: scale(0.8);
  outline: none;
}

button:focus {
  outline: none;
}

.range-control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: orangered;
  box-shadow: 1px 2px 2px rgba(150, 150, 150, 0.2);
  user-select: none;
  padding: 8px 12px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #515251;
  border-radius: 4px;
}

.range-value {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  text-align: center;
  font-size: 12px;
  color: #deefef;
  pointer-events: none;
  background-color: rgba(50, 50, 50, 0.55);
  padding: 4px;
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  cursor: pointer;
  background: orangered;
  border-radius: 38px;
}
